@import "../../functions.scss";

header{
    padding: 20px 50px;
    text-align:center;
    background-color: color(primary);
    @include flexBox(row, start);
    color:color(white);

    img{
        width: 50px;
        height: 50px;
        margin-right: 15px;
        
    }

    h1{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.5px;
        &:hover{
            color:color(yellow)
        }
        
    }
    .header__search{
        margin:auto;
        label{
            margin-right: 10px;
            font-size: 20px;
        }
       
        input{
            width:400px;
            border-radius: 2px;
            height: 25px;
        }
    }

}