@import "./../../../functions.scss";

.pokemonsList {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

pagination-controls {
  text-align: center;
}
