<div class="login">
  <div class="header">
    <img
      src="https://cdn.pixabay.com/photo/2016/07/23/13/18/pokemon-1536849__340.png"
      alt="pokemon img"
    />
    <h1>Pokemon APP</h1>
  </div>
  <p class="login_welcome">Welcome to pokemon website</p>
  <div class="login_form">
    <p class="login_title">Please log in</p>
    <div class="login_form-row">
      <input
        class="login_input"
        type="text"
        name="userEmail"
        placeholder="enter your email"
        [(ngModel)]="userEmail"
      />
      <button class="login_button" (click)="loginUser()">log in</button>
    </div>
    <p class="login__email" *ngIf="this.wrongEmail === true">
      Unauthorized email address
    </p>
  </div>
</div>
