<div class="search_history">
  <div class="header">
    <div class="logo">
      <img
        src="https://cdn.pixabay.com/photo/2016/07/23/13/18/pokemon-1536849__340.png"
        alt="pokemon img"
      />
      <h1>Pokemon APP</h1>
    </div>

    <button (click)="toHomePage()">home Page</button>
  </div>
  <p>Search History</p>
  <table>
    <tr>
      <th>index</th>
      <th>value</th>
      <th>date</th>
    </tr>
    <tr>
      <td>1</td>
      <td>{{ search1.value }}</td>
      <td>{{ search1.date }}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{ search2.value }}</td>
      <td>{{ search2.date }}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{ search3.value }}</td>
      <td>{{ search3.date }}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{ search4.value }}</td>
      <td>{{ search4.date }}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>{{ search5.value }}</td>
      <td>{{ search5.date }}</td>
    </tr>
  </table>
</div>
